@page "/reservations/new"
@using DeskBooking.Shared.ModelDto
@using System.Collections.ObjectModel;

<Row>
    <Column>
        <Card Margin="Margin.Is4.OnY">
            <CardHeader>
                <CardTitle>Nowa rezerwacja</CardTitle>
            </CardHeader>
            <CardBody>
                <CardText>Wprowadź dane rezerwacji biurka.</CardText>
            </CardBody>
            <CardBody>
                <Field Horizontal="false">
                    <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">Data początkowa</FieldLabel>
                    <FieldBody>
                        <DateEdit @onchange="DateSelectionChanged" @bind-Date="vm.Start" TValue="DateTime" InputMode="DateInputMode.Date" />
                    </FieldBody>
                </Field>
                <Field Horizontal="true">
                    <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">Data koncowa</FieldLabel>
                    <FieldBody>
                        <DateEdit @onchange="DateSelectionChanged" @bind-Date="vm.End" TValue="DateTime" InputMode="DateInputMode.Date" />
                    </FieldBody>
                </Field>

                <Field>
                    <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is2.OnDesktop">Biurko</FieldLabel>
                    <FieldBody>
                        <SelectList TItem="DeskDto"
                                    TValue="int"
                                    Data="@vm.DeskList"
                                    TextField="@(( item ) => item.Number.ToString())"
                                    ValueField="@((item) => item.Id)"
                                    @bind-SelectedValue="@vm.SelectedDesk"
                                    DefaultItemText="Wybierz biurko ..."
                                    />
                    </FieldBody>
                </Field>
            </CardBody>
            <CardBody>
                <Button Color="Color.Primary" Clicked="Save">
                    <Icon Name="IconName.Save" />
                    Zapisz
                </Button>
                <Button Color="Color.Secondary" Clicked="Cancel">
                    <Icon Name="IconName.Times" />
                    Anuluj
                </Button>
            </CardBody>
        </Card>
    </Column>
</Row>