@page "/userForm"

<h3>Formularz użytkownika</h3>

<div class="row" hidden="@isEditHidden">
    <EditForm Model="@this">
        <div class="form-group">
            <label for="firstName">Imię</label>
            <InputText @bind-Value="firstName" id="firstName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="lastName">Nazwisko</label>
            <InputText @bind-Value="lastName" id="lastName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="age">Wiek</label>
            <InputNumber @bind-Value="age" id="age" class="form-control" />
        </div>

        <div class="form-group">
            <button type="button" @onclick="ShowInfo" class="btn btn-secondary">OK</button>
        </div>
    </EditForm>
</div>

<div class="row" hidden="@isCardHidden">
    <div class="card w-50">
        <div class="card-title">
            <h5 class="card-title">Dane użytkownika</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                <b>Imię: </b> @firstName
            </p>
            <p class="card-text">
                <b>Nazwisko: </b> @lastName
            </p>
            <p class="card-text">
                <b>Wiek: </b> @age
            </p>
        </div>
    </div>
</div>
