@model Bibliotekarz.Model.HomeViewModel

<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Tytuł</th>
                <th scope="col">Autor</th>
                <th scope="col">Liczba stron</th>
                <th scope="col">Czy wypożyczona</th>
                <th scope="col">Imię wypożyczającego</th>
                <th scope="col">Nazwisko wypożyczającego</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Programowanie w C#</td>
                <td>Leszek Lewandowski</td>
                <td>456</td>
                <td>Tak</td>
                <td>Adam</td>
                <td>Nowak</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Programowanie w C#</td>
                <td>Leszek Lewandowski</td>
                <td>456</td>
                <td>Tak</td>
                <td>Adam</td>
                <td>Nowak</td>
            </tr>
        </tbody>
    </table>
</div>
